.u-section-1 .u-sheet-1 {
  min-height: 407px;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}